<div class="container">
    <div class="card">
        <h1>Aplicación Tareas Angular</h1>

        <form>
            <div class="form-group">
                <div class="form-floating mb-3">
                    <input [(ngModel)]="nombreTarea" [ngModelOptions]="{standalone:true}" class="form-control" id="nombreTarea" placeholder="Nombre de tarea">
                    <label for="nombreTarea">Nombre Tarea</label>
                  </div>
            </div>
            <button type="submit"  class="btn btn-primary mt-4 w-100" (click)="guardar()">Guardar</button>
        </form>
    </div>
</div>

<div class="container mt-4">
    <h1>Lista de peliculas</h1>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre de Tarea</th>
                <th scope="col">Acción</th>
            </tr>
            <h1 *ngIf="!isResultLoaded" class="text-black text-center">Cargando Datos...</h1>
        </thead>
        <tbody>
            <tr *ngFor="let tarea of listaTareas">
                <td>{{tarea.idTarea}}</td>
                <td>{{tarea.nombre}}</td>
                <td>
                    <button class="btn btn-danger" type="button" (click)="eliminarTarea(tarea)"><i class="fa-solid fa-trash"></i>Eliminar</button>
                    <button class="btn btn-warning" type="button" (click)="obtenerTarea(tarea)"><i class="fa-solid fa-pen"></i>Modificar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>